@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="row">
        <!-- MCA Box -->
        <div class="col-md-4 mb-4">
            <div class="card text-center equal-height-card" style="cursor: pointer;" onclick="location.href='@Url.Action("FacultiesByCourse", "Home", new { courseName = "MCA" })';">
                <img src="https://res.cloudinary.com/djg5iadcq/image/upload/v1722411229/iycdj3uikazofk2bgdcy.jpg" class="card-img-top" alt="MCA" />
                <div class="card-body">
                    <h3 class="card-title">MCA</h3>
                </div>
            </div>
        </div>

        <!-- MSc Box -->
        <div class="col-md-4 mb-4">
            <div class="card text-center equal-height-card" style="cursor: pointer;" onclick="location.href='@Url.Action("MScSpecializations", "Home")';">
                <img src="https://res.cloudinary.com/djg5iadcq/image/upload/v1722411288/yvkwabraphjwyvd8nf31.jpg" class="card-img-top" alt="M.Sc." />
                <div class="card-body">
                    <h3 class="card-title">M.Sc.</h3>
                </div>
            </div>
        </div>

        <!-- M.Tech Box -->
        <div class="col-md-4 mb-4">
            <div class="card text-center equal-height-card" style="cursor: pointer;" onclick="location.href='@Url.Action("FacultiesByCourse", "Home", new { courseName = "M.Tech. - Computer Science and Engineering" })';">
                <img src="https://res.cloudinary.com/djg5iadcq/image/upload/v1722411314/x2ebhflxkgpi57b3mzcg.jpg" class="card-img-top" alt="M.Tech" />
                <div class="card-body">
                    <h3 class="card-title">M.Tech</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        border: none;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
    }

    .equal-height-card {
        height: 100%;
    }

    .card-img-top {
        width: 100%;
        height: 200px; /* Fixed height for image */
        object-fit: cover; /* Ensures the image covers the area */
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .card-body {
        padding: 20px;
        flex-grow: 1; /* Allows card body to take up remaining space */
    }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
</style>

@if (TempData["Notification"] != null)
{
    <div class="alert alert-success">
        @TempData["Notification"]
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}
