@model List<BUTPFIS.web.Models.Domain.FacultyInfo>
@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container text-center">
        <h1>Faculties</h1>
    </div>
</div>

<form method="get"
      asp-controller="AdminFaculty" ,
      asp-action="List">
    <div class="container mt-5">
        <div class="row">
            <div class="col col-md-3 d-flex">
                <input type="text" class="form-control"
                       name="searchQuery" value="@ViewBag.SearchQuery" />
                <button type="submit" class="btn btn-warning ms-3">Search</button>
            </div>
        </div>
    </div>
</form>

<div class="container py-5">
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <td>Faculty Id</td>
                    <td>Faculty Name</td>
                    <td>Designation</td>
                    <td>Department(s)/Course(s)</td>
                    <td> </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var facultyInfo in Model)
                {
                    <tr>
                        <td>@facultyInfo.FId</td>
                        <td>@facultyInfo.Name</td>
                        <td>@facultyInfo.Designation</td>
                        <td>
                            <div class="d-flex">
                                @foreach (var tag in facultyInfo.CourseInfos)
                                {
                                    <span class="badge bg-secondary me-1">@tag.CourseName</span>
                                }
                            </div>
                        </td>

                        <td>
                            <a asp-area=""
                           asp-controller="AdminFaculty"
                           asp-action="Edit"
                            asp-route-id="@facultyInfo.FId">Edit</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Faculties!</p>
    }

</div>